<app-top-bar></app-top-bar>
<ul>
  <li><a routerLink="/home">home</a></li>
  <li><a routerLink="/product-list">product-list</a></li>
  
</ul>
<ul>
  <li><a [routerLink]="['/']">home</a></li>
  <li><a [routerLink]="['/home']">home</a></li>
  <li><a [routerLink]="['/product-list']">product-list</a></li>
</ul>

<router-outlet></router-outlet>




<!--<div class="container">
  <router-outlet></router-outlet>
</div>-->


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->