
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: lightgray;
  }
  
  tr:nth-child(even) {
    background-color: lightgray;
  }

  .edit-btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .delete-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    }
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/