<h2>Actors</h2>

<!-- <ul>
  <li *ngFor="let product of products">
    Product Name: {{ product.product_name }} <br>
    Price: {{ product.price }} <br>
    Description: {{ product.description }}
  </li>
</ul> -->
<table>
  <thead>
    <tr>
      <th>Actor ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Offer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let actor of actorData">
      <td>{{actor.actorId}}</td>
      <td>{{actor.firstName}}</td>
      <td>{{actor.lastName}}</td>
      <td>{{actor.gender}}</td>
      <td>{{actor.age}}</td>
      <td>  
        <app-offer [actorAge]="actor.age"></app-offer></td>
    </tr>
  </tbody>
</table>







<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
